<br>
<br>
<div class="jumbotron">
<h1>About Blocipedia</h1>
<p> A social, markdown wikis site where users can create both public and private wikis.</p>
<div class="pull-right"><%= link_to "Back to Wikis", wikis_path, class: 'btn btn-info' %></div>