<br>
<br>
<div class="jumbotron">
<h1 class="text-center">Blocipedia</h1>
<h1 class="text-center">The Social Markdown Wikis</h1>
<div class="hero">
  <h3 class="text-center hero-intro">Create and share markdown wikis globally.</h3>
  <br>
  </div>
<div class="row">
  <div class="col-md-6">
    <h4 class="text-center">Publish unlimited public wikis!</h4>
  </div>
  <div class="col-md-6">
    <h4 class="text-center">Want private wikis? Go Premium!</h4>
  </div>
</div>
