<%= form_tag charges_path do %>
<br>
<br>
<div class="jumbotron">
   <h4>To be inducted to the Blocipedia Secret Society, click the button!</h4>
   <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
 <% end %>
 </div>